@page
@using Shoes_Shop.Models
@model Shoes_Shop.Pages.Admin.ManageProductModel
@{
    Layout = "./Shared/_Layout.cshtml";
    List<Category> categories = Model.categories;
    List<Product> products = Model.products;
}
@if (Model.errorMessage.Length > 0)
{
    <h1>@Model.errorMessage</h1>
}
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateProduct">Create</button>

<div>
    <table class="table">
        <thead>
            <tr class="text-center">
                <td>Image</td>
                <td>Desctiption</td>
                <td>Price</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Product p in products)
            {
                <tr class="text-center">
                    <td style="vertical-align: middle; text-align: center; width: 10%">
                        <img style="width: 100px; height: 100px" src="@p.Image" />
                    </td>
                    <td style="text-align: left">
                        <h4>@p.Name</h4>
                        <p>@p.Description</p>
                        <p>@p.Category.CategoryName</p>
                    </td>
                    <td>
                        <span>@p.Price</span>
                    </td>
                    <td>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@("#DeleteProduct" + p.Id)">Delete</button>
                        <div class="modal fade" id="@("DeleteProduct" + p.Id)" tabindex="-1" aria-labelledby="DeleteProduct" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="max-width: 90%">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="deleteProduct">Confirm to delete product: @p.Name</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img style="width: 100px; height: 100px" src="@p.Image" />
                                        <p class="modal-title fs-5" id="deleteProduct">@p.Description</p>
                                    </div>
                                    <div class="modal-footer">
                                        <form method="post" asp-page-handler="DeleteProduct">
                                            <input id="idDelete" name="id" value="@p.Id" style="display: none" />
                                            <button class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="@("#UpdateProduct" + p.Id)">Update</button>
                        <div class="modal fade" id="@("UpdateProduct" + p.Id)" tabindex="-1" aria-labelledby="DeleteProduct" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" style="max-width: 90%">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="deleteProduct">Update product: @p.Name</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form method="post" asp-page-handler="UpdateProduct" enctype="multipart/form-data">
                                        <div class="modal-body">
                                            <table>
                                                <tr>
                                                    <td>NAME:</td>
                                                    <td> <input type="text" value="@p.Name" class="form-control" name="name"></td>
                                                </tr>
                                                <tr>
                                                    <td>DESCRIPTION:</td>
                                                    <td> <input type="text" value="@p.Description" class="form-control" name="description"></td>
                                                </tr>
                                                <tr>
                                                    <td>PRICE:</td>
                                                    <td> <input type="number" step=".01" value="@p.Price" class="form-control" name="price"></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div>
                                                            <img style="width: 100px; height: 100px" src="@p.Image" />
                                                            <label for="@("IMAGE" + p.Id)" class="col-form-label">Choose Another Image Product:</label>
                                                            <input type="file" class="form-control" accept="img/*" onchange="previewImage(event)" 
                                                            name="image" id="@("IMAGE" + p.Id)" style="display: none" />
                                                        </div>
                                                    </td>

                                                    <td> <img id="imagePreview" src="#" alt="Preview Image" style="display: none; max-width: 30%;"></td>
                                                </tr>
                                                <tr>
                                                    <td>CATEGORY:</td>
                                                    <td>
                                                        <div>
                                                            <select name="category">
                                                                @foreach (Category category in categories)
                                                                {
                                                                    if (p.CategoryId == category.CategoryId)
                                                                    {
                                                                        <option selected value="@category.CategoryId">@category.CategoryName</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@category.CategoryId">@category.CategoryName</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <input name="id" value="@p.Id" style="display: none" />
                                            <button class="btn btn-danger">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>
    @*Modal create*@
    <div class="modal fade" id="CreateProduct" tabindex="-1" aria-labelledby="CreateProduct" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 90%">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Create new product</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-page-handler="CreateProduct" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="NAME" class="col-form-label">NAME:</label>
                            <input type="text" class="form-control" id="NAME" name="name">
                        </div>
                        <div class="mb-3">
                            <label for="DESCRIPTION" class="col-form-label">DESCRIPTION:</label>
                            <textarea class="form-control" id="DESCRIPTION" name="description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="PRICE" class="col-form-label">PRICE:</label>
                            <input class="form-control" id="PRICE" type="number" name="price" />
                        </div>
                        <div class="mb-3">
                            <label for="IMAGE" class="col-form-label">Choose Image Product:</label>
                            <input type="file" class="form-control" accept="img/*" onchange="previewImage(event)" name="image" id="IMAGE" style="display: none" />
                            <img id="imagePreview" src="#" alt="Preview Image" style="display: none; max-width: 30%;">
                        </div>
                        <div class="mb-3">
                            <label for="CATEGORY" class="col-form-label">CATEGORY:</label>
                            <select name="category">
                                @foreach (Category category in categories)
                                {
                                    <option value="@category.CategoryId">@category.CategoryName</option>
                                }
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Send message</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @*Modal Confirm*@

</div>



<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function() {
            var preview = document.getElementById("imagePreview");
            preview.src = reader.result;
            preview.style.display = "block";
        }
        reader.readAsDataURL(event.target.files[0]);
    }

</script>
