@page "{id:int?}"
@using Shoes_Shop.Models;
@model Shoes_Shop.Pages.Shop.DetailsModel
@{
    Layout = "./Shared/_Layout1.cshtml";
}

@{
    ViewData["Title"] = "Product Details";
}

<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <a href="product.html" class="stext-109 cl8 hov-cl1 trans-04">
            @Model.Product.Category.CategoryName
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            <span class="stext-109 cl4">
                @Model.Product.Name
            </span>
    </div>
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
			Home
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<a href="product.html" class="stext-109 cl8 hov-cl1 trans-04">
			@Model.Product.Category.CategoryName
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<span class="stext-109 cl4">
			@Model.Product.Name
		</span>
	</div>
</div>


<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
       

        
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <div class="item-slick3" data-thumb="@Model.Product.Image">
                                <div class="wrap-pic-w pos-relative">
                                    <img src="@Model.Product.Image" alt="IMG-PRODUCT">

                                    <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-01.jpg">
                                        <i class="fa fa-expand"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        @Model.Product.Name
                    </h4>

                    <span class="mtext-106 cl2">
                        $@Model.Product.Price
                    </span>

                    <p class="stext-102 cl3 p-t-23">
                        @Model.Product.Description
                    </p>
             
                    <form method="post" asp-page-handler="AddToCart" asp-route-productId="@Model.Product.Id">
                        <input type="hidden" name="productId" value="@Model.Product.Id" />
                    <!--  -->
                    <div class="p-t-33">
                        <div class="flex-w flex-r-m p-b-10">
                            <div class="size-203 flex-c-m respon6">
                                Color
                            </div>

                            <div class="size-204 respon6-next">
                                <div class="rs1-select2 bor8 bg0">


                                    <select name="colorId" id="color-dropdown" style="width: 390px;padding: 9px;border-color:#e6e6e6">

                                        @foreach (var color in Model.Product.Inventories.Select(i => i.Color).Distinct())
                                        {
                                                <option value="@color.ColorId">@color.ColorName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="flex-w flex-r-m p-b-10">
                            <div class="size-203 flex-c-m respon6">
                                Size
                            </div>
                            <div class="size-204 respon6-next">
                                <div class="rs1-select2 bor8 bg0">
                                        <select name="sizeId" id="size-dropdown" style="width: 390px;padding: 9px;border-color:#e6e6e6">
                                    </select>
                                </div>
                            </div>

                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-204 flex-w flex-m respon6-next">
                                    <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-minus"></i>
                                        </div>

                                        <input class="mtext-104 cl3 txt-center num-product" type="number" name="quantity" value="1">

                                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-plus"></i>
                                        </div>
                                    </div>

                                    <button type="submit"class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                                        Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                       
                    </div>
                   
                </div>
            </div>

          
        </div>
       

        
</section>




@section Scripts {
    <script>
        $(document).ready(function () {
            var productId = @Model.Product.Id;
            var firstColorId = $('#color-dropdown').val();
            updateSizeDropdown(productId, firstColorId);

            $('#color-dropdown').change(function () {
                var colorId = $(this).val();
                updateSizeDropdown(productId, colorId);
            });

            function updateSizeDropdown(productId, colorId) {
                $('#size-dropdown').empty();
                $.getJSON(`./Details?id=${productId}&handler=GetSizeByColor&productId=${productId}&colorId=${colorId}`, function (sizes) {
                    $.each(sizes, function (i, size) {
                        $('#size-dropdown').append($('<option>', {
                            value: size.sizeId,
                            text: size.sizeName
                        }));
                    });
                });

            }
        });

        //$("form#add-to-cart-form").submit(function (e) {
        //    e.preventDefault();

        //    // Get the selected color and size.
        //    var productid = @Model.Product.Id;
        //    var colorid = $("#color-dropdown option:selected").val();
        //    var sizeid = $("#size-dropdown option:selected").val();

        //    // Get the quantity to add to the cart.
        //    var quantity = parseInt($(".num-product").val());
        //    console.log(productid, colorid, sizeid, quantity);
     
    </script>
}
	